
<VirtualHost 127.0.0.5:443>
   ServerName shdsapi.org

  WSGIDaemonProcess simpleHeterogeneousDataSystem user=www-data group=www-data processes=1 threads=5 python-path=/home/robert/PricesPaid/application

    WSGIScriptAlias / /home/robert/PricesPaid/application/app.wsgi/

    <Directory /home/robert/PricesPaid/application/>
        WSGIProcessGroup simpleHeterogeneousDataSystem
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
AuthType Basic
AuthName "Restricted Files"
# (Following line optional)
AuthBasicProvider file
AuthUserFile /etc/apache2/passwd/passwords
Require user "choosethis"
    </Directory>
    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/apache.crt
    SSLCertificateKeyFile /etc/apache2/ssl/apache.key
    ErrorLog ${APACHE_LOG_DIR}/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/access.log combined


 </VirtualHost>

<VirtualHost 127.0.0.6:443>
   ServerName pricespaidportal.org

  WSGIDaemonProcess PricesPaidGUI user=www-data group=www-data processes=1 threads=5 python-path=/home/robert/PricesPaid/PricesPaidGUI

    WSGIScriptAlias / /home/robert/PricesPaid/PricesPaidGUI/app.wsgi/

    <Directory /home/robert/PricesPaid/PricesPaidGUI/>
        WSGIProcessGroup PricesPaidGUI
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
AuthType Basic
AuthName "Restricted Files"
# (Following line optional)
AuthBasicProvider file
AuthUserFile /etc/apache2/passwd/passwords
Require user "choosethis"
    </Directory>
    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/apache.crt
    SSLCertificateKeyFile /etc/apache2/ssl/apache.key
    ErrorLog ${APACHE_LOG_DIR}/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/access.log combined

 </VirtualHost>
