# This section is good for hosting both on the same virtual host.
# If you use two virtual hosts, you can make the URLs a little simple...
# 

<VirtualHost 127.0.0.1:443>
   ServerName pricespaidportal.org

   WSGIDaemonProcess PricesPaidGUI user=www-data group=www-data processes=1 threads=5 python-path=/home/robert/PricesPaid/PricesPaidGUI:/home/robert/PricesPaid home=/home/robert/PricesPaid/PricesPaidGUI
  WSGIDaemonProcess PricesPaidAPI user=www-data group=www-data processes=1 threads=5 python-path=/home/robert/PricesPaid/PricesPaidAPI:/home/robert/PricesPaid home=/home/robert/PricesPaid/PricesPaidAPI

   WSGIScriptAlias /gui /home/robert/PricesPaid/PricesPaidGUI/app.wsgi/
   WSGIScriptAlias /apisolr /home/robert/PricesPaid/PricesPaidAPI/app.wsgi/

SetEnv P3APISALT CHANGEME
SetEnv PricesPaidAPIUsername  CHANGEME
SetEnv PricesPaidAPIPassword  CHANGEME
SetEnv PricesPaidAPIBasicAuthUsername CHANGEMETOWHATYOUUSE
SetEnv PricesPaidAPIBasicAuthPassword CHANGEMETOWHATYOUUSE
SetEnv PYCAS_SECRET PutANiceLongScretHere

# I want this to be symmetric but possible "/" should rewrite to /gui 
# as a convenience.
    <Location /gui >
        WSGIProcessGroup PricesPaidGUI
        WSGIApplicationGroup %{RESOURCE}
        Order deny,allow
        Allow from all
 AuthType Basic
 AuthName "Restricted Files"
 # (Following line optional)
 AuthBasicProvider file
 AuthUserFile /etc/apache2/passwd/passwords
 # Require user "chooseme"
    </Location>

    <Location /apisolr >
    WSGIProcessGroup PricesPaidAPI
        WSGIApplicationGroup %{RESOURCE}
        Order deny,allow
        Allow from all
    </Location>

    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/apache.crt
    SSLCertificateKeyFile /etc/apache2/ssl/apache.key
    ErrorLog ${APACHE_LOG_DIR}/error.log

        # Possible values include: debug, info, notice, warn, error, crit,
        # alert, emerg.
        LogLevel info
        CustomLog ${APACHE_LOG_DIR}/access.log combined

 </VirtualHost>
